$red: #ED5565;
$orange: #FC6E51;
$yellow: #FFCE54;
$deepyellow: #FFAA11;
$grass: #A0D468;
$green: #48CFAD;
$aqua: #4FC1E9;
$blue: #5D9CEC;
$lavender: #AC92EC;
$pink: #EC87C0;
$white: #FFFFFF;
$lightgray: #F5F7FA;
$gray: #CCD1D9;
$darkgray: #313235;
$black: #212C33;